<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign UP</title>
    <link rel="stylesheet" href="../css/auth.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-form-re">
        <h2>Create an account</h2>
        <p>Already have an Account? <a href="./signin.html">signin</a></p>
      </div>
      <div class="signup-form">
        <div class="signup-form-box">
          <input type="text" name="username" id="" placeholder="Username" />
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="signup-form-box">
          <input type="email" name="email" placeholder="Email" />
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="signup-form-box">
          <input type="password" name="password" id="" placeholder="Password" />
          <i class="fa-solid fa-lock"></i>
        </div>
        <div class="signup-form-box">
          <input type="password" name="c-password" id="" placeholder="Confirm Password" />
          <i class="fa-solid fa-lock"></i>
        </div>
        <div class="check-box">
          By continuing, you agree to our
          <a href="/terms" target="_blank">Terms and Conditions</a>.
        </div>

        <button type="submit">CONTINUE</button>
      </div>
      <div class="or-line">
        <div class="line"></div>
        <p>or register with</p>
        <div class="line"></div>
      </div>
      <div class="oauth2">
        <div class="oauth2-box">
          <i class="fa-brands fa-google"></i>
          <p>Google</p>
        </div>
        <div class="oauth2-box">
          <i class="fa-brands fa-github"></i>
          <p>GitHub</p>
        </div>
      </div>
    </div>

    <div class="container-2">
      <img src="../assests/signup-bg.jpg" alt="signup-bg" />
      <div class="over-img">
        <img class="main" src="../assests/dead_box.png" alt="..." />
        <p>WELCOME ABROAD...</p>
        <small>API Authentication System</small>
        <div class="nav">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">API</a>
          <a href="#">Service</a>
        </div>
        <img class="chip" src="../assests/chip.png" alt="..." />
      </div>
    </div>
  </body>
</html>
