<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign IN</title>
    <link rel="stylesheet" href="{{url_for('static' , path='css/auth.css')}}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-form-re">
        <h2>Welcome Back!</h2>
        <p>Don't have an Account? <a href="#">signup</a></p>
      </div>
      <div class="signup-form">
        <div class="signup-form-box">
          <input type="email" name="email" placeholder="Email" />
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="signup-form-box">
          <input type="password" name="password" id="" placeholder="Password" />
          <i class="fa-solid fa-lock"></i>
        </div>

        <div class="check-box">Lost your password? <a href="#">Forget poassword?</a></div>

        <button type="submit">CONTINUE</button>
      </div>
      <div class="or-line">
        <div class="line"></div>
        <p>or SignIn with</p>
        <div class="line"></div>
      </div>
      <div class="oauth2">
        <div class="oauth2-box">
          <i class="fa-brands fa-google"></i>
          <p>Google</p>
        </div>
        <div class="oauth2-box">
          <i class="fa-brands fa-github"></i>
          <p>GitHub</p>
        </div>
      </div>
    </div>

    <div class="container-2" style="margin-top: 2.7rem">
      <img src="{{url_for('static' , path='assests/signup-bg.jpg')}}" alt="signup-bg" />
      <div class="over-img">
        <img class="main" src="{{url_for('static' , path='assests/dead_box.png')}}" alt="..." />
        <p>WELCOME ABROAD...</p>
        <small>API Authentication System</small>
        <div class="nav">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">API</a>
          <a href="#">Service</a>
        </div>
        <img class="chip" src="{{url_for('static' , path='assests/chip.png')}}" alt="..." />
      </div>
    </div>
  </body>
</html>
